[Unit]
Description=Symlink readable Radicale collections for each user
Documentation=https://github.com/sents/radicale-share-collections
After=radicale.service

[Service]
Type=oneshot
User=radicale
Group=radicale
WorkingDirectory=/var/lib/radicale/collections/
NoNewPrivileges=yes
ExecStart=/var/lib/radicale/.local/bin/radicale_share_collections /etc/radicale/config
